$color-1:rgb(218, 170, 14);
$color-2:rgb(127, 236, 55);
$color-3:rgb(255, 255, 255);
$color-4:rgb(212, 213, 216);
$color-5:rgb(170, 240, 113);
$color-6:rgb(58, 107, 212);
$color-7:rgb(49, 49, 48);

$font-1:Arial, Helvetica, Sans-Serif;
$font-2: 'Sacramento', cursive;


