node_modules/
node_modules/.cache
/node_modules

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# It's better to exclude the whole folder for package dependencies
node_modules/
jspm_packages/
venv/
env/
ENV/
env.bak/
ENV.bak/
lib/
vendor/
*.gem
/.cache
.cache

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.db
*.json
*.ldif
*.csv
node_modules/.cache
